



#cardGroup{
  margin: 0 auto;
  width: 320px;
  border: 1px solid rgb(153, 153, 192);

  display: flex;

  text-align: center;
}

div.card.cardGroup__card {
  /* flex-grow: 1; */
  width: 106.6px;
  /* border: 1px solid rgb(153, 153, 192);; */
  /* border: 0px 1px 0px 0px; */
  border-right: 1px solid rgb(153, 153, 192);

  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between; */
  
}
div.card.cardGroup__card:last-child{
  border: none;
}

.card__price{
  display: inline-block;
  height: 20px;

  color: white;

  background-color: rgba(0, 0, 0, 0.575);
  border-top: 1px solid rgb(153, 153, 192);
  
}

div.card__description{
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}


@media (min-width:700px) {
  div.card.cardGroup__card {
    /* flex-grow: 1; */
    width: 236.6px;
  }
  #cardGroup{
    width: 710px;
  }
}
